# Firebase Keys & Config (SANGAT PENTING)
src/api/config.js
.env
.env.local

# Dependencies
node_modules/
dist/
build/

# Mobile/Acode Cache
.acode/
.DS_Store
*.log

# Firebase Hosting
.firebase/
firebase-debug.log
